#-------------------------------------------------------
# Folders and files that should not be pushed to GitHub
#-------------------------------------------------------

# Compiled bytecode
**/__pycache__/

# Virtual Python environment
*venv/

# Environment variables
.env

