{#=====================================================
Base template
- Used as the basis of all pages
- Uses a light colour theme by default
- Provides a main heading and navigation menu
- Has blocks for the page title and main content
- Loads PicoCSS
- Loads a user stylesheet
- Loads JS utility functions
- Includes block for flash messages
=====================================================#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Flask Authorization Demo">
        <meta name="keywords" content="Demo">
        <link rel="icon" href="/static/images/icon.svg">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script src="/static/js/utils.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.slate.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <strong><a href="/">
                            <img src="../../static/images/icon.svg">
                        Flask App Demo</a></strong>
                    </li>
                </ul>
                <ul>
                    {% if session.username %}
                        <li>
                            <strong>{{ session.username }}</strong>
                        </li>
                    {% endif %}
                    {% if not session.userid %}
                        <li>
                            <a href="/signup/">Sign Up</a>
                        </li>
                        <li>
                            <a href="/signin/">Sign In</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/logout/">Logout</a>
                        </li>
                    {% endif %}
                    <li>|</li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/things">Things</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </header>
        {# Show flash messages from any previous events #}
        {% include "components/messages.jinja" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {# Show debug info. Comment this out if not needed #}
        {% include "components/debug.jinja" %}
    </body>
</html>
