{#=====================================================
Signup page for adding a new user
=====================================================#}
{% extends "pages/base.jinja" %}
{% block title %}
    Flask Demo - All Things
{% endblock title %}
{% block content %}
    <article>
        <h3>Sign up</h3>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password"
                   name="password"
                   placeholder="Password"
                   required
                   minlength="8">
            <button>Sign Up</button>
            <footer>
                <a href="/signin/">Already a user? Sign in instead</a>
            </footer>
        </form>
    </article>
{% endblock content %}
