{#=====================================================
Thing page
- Shows details of a single thing
- Has a delete link to remove it
=====================================================#}
{% extends "pages/base.jinja" %}
{% block title %}
    Flask Demo - Single Thing
{% endblock title %}
{% block content %}
    <h1>A Single Thing...</h1>
    <article>
        <header>
            <h3>{{ thing.name }}</h3>
        </header>
        <p>Owner: {{ thing.owner }}</p>
        {% if session.userid == thing.userid %}
            <footer>
                <a href="/delete/{{ thing.id }}"
                   onclick="return confirm('Really delete?');">Delete</a>
            </footer>
        {% endif %}
    </article>
    <a role="button" href="/things">Back to Thing List</a>
{% endblock content %}
